* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body,
html {
    background: #FAFAFA
}
label {
  margin: 0;
  padding: 0;
  flex-grow: 1
}
textarea:focus,
input:focus {
    outline: none;
}
*:focus {
    outline: none;
}
.instagram {
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow: hidden
}
.menu-insta {
  width: 100%;
  background: #fafafa;
  border-bottom: 1px solid rgba(0,0,0,.0975);
  margin-bottom: 20px;
}
.tamanho-menu {
  height: 80px;
}
.tamanho {
  width: 1000px;
  /*max-width: calc(100% - 40px);*/
  max-width: 90%;
  margin: 0 auto;
}
.menu-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.logo {
  text-align: left!important;
}
.logo img{
  display: inline-block;
  margin-right: 10px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.foto {
  flex-grow: 1;
  height: 300px;
  padding-bottom: 20px;
  flex-basis: 300px;
  cursor: pointer;
}
.foto-insta {
  max-width: 100%;
  margin: 0 auto;
  height: 300px;
  width: 300px;
  background: -webkit-linear-gradient(to left, #de6161 , #2657eb); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to left, #de6161 , #2657eb); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to left, #de6161 , #2657eb); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left, #de6161 , #2657eb);
  background: #2657eb;
  background-color: #2657eb;
  cursor: pointer;
  overflow: hidden;
  z-index: 99;
  transition: 1s
}
.thumb-image {
  position: absolute;
  clip-path: ellipse(60px 40px at 75px 30px);
  border-radius: 50%;
  margin: 0 auto;
}
.test {
  flex-grow: 1;
  max-width: 33.333%;
  text-align: center
}
.logo img:first-child {
  border-right:1px solid #262626;
  padding-right: 10px;
}
.busca-input {
  width: 215px;
  max-width: 100%;
  height: 25px;
  border-radius: 4px;
  background: transparent;
  text-align: center;
  border: 1px solid #dbdbdb;
  margin: 0 auto;
}
.icones {
  text-align: right!important
}
.icones img {
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}
.conteudo-insta {

}
footer {
  width: calc(1000px - 30px);
  max-width: 90%;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 50px;
}
.rodape {
  display: flex;
  margin: 0 auto;
  font-size: 12px;
  color: #003569;
  font-weight: 900;
  padding-bottom: 50px;
}
.rodape ul {
  list-style: none;
}
.rodape ul li {
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
  text-transform: uppercase;
}
.rodape-esquerdo {
  flex-grow: 10;
}
.rodape-direito {
  flex-grow: 1;
  text-align: right;
  color: #000!important;
  opacity: 0.4
}
.botao {
  width: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.profile {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 50px;
  overflow: hidden;
  letter-spacing: 1px;
}
.foto-borda {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: -webkit-linear-gradient(to left, #de6161 , #2657eb); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to left, #de6161 , #2657eb); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to left, #de6161 , #2657eb); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left, #de6161 , #2657eb);
  background: #de6161;
  background-color: #de6161;
  margin: 0 auto;
}
.profile-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.ffooto {
  width: 150px;
  text-align: center;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  border:1px solid #ccc
}
img {
 content: "";
}
.imginsta {
  background: #2657eb;
  border-radius: 50%;
  border:none!important;
  outline: none!important inherit;
}
.foto-profile {
  flex-grow: 1;
  cursor: pointer;
  min-height: 150px;
}
.clip-ellipse {
  clip-path: ellipse(60px 40px at 0px 0px);
  /* OLD VALUE example: ellipse(245px, 80px, 75px, 30px); */
}
.texto-profile {
  flex-grow: 1
}
.nomepage {
  background: transparent;
  border:none;
  font-size: 30px;
  font-weight: 200px;
  letter-spacing: 1px;
  opacity: 0.7
}
.avvv {
  color: #fff!important;
}
.whi {
  color: #fff!important;
}
.p1 {
    display: inline-block;
    overflow: hidden;
}
.some {
  display: none
}
.editar-perfil {
  border: 1px solid #ccc;
  color: #262626;
  background: transparent;
  height: 30px;
  width: 120px;
  font-weight: 900;
  border-radius: 4px;
  opacity: 0.7;
  cursor: pointer;
}
.ib {
  display: inline-block;
}
.more {
  margin-left: 20px;
  padding-top: 5px;
}
.likes {
  padding-top: 20px;
  padding-bottom: 20px;
  opacity: 0.7
}
.likes span {
  font-weight: 900
}
.likes ul {
  list-style: none
}
.sobre {
  width: 100%;
}
.envia {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  opacity: 0.2
}
.foto-insta:hover {
  background: #de6161
}
.text-sobre {
  width: 100%;
  background: transparent;
  border: none;
  font-size: 16px;
  letter-spacing: 0.6px;
  font-weight: 400;
  opacity: 0.7
}
.likes ul li {
  display: inline-block;
  margin-right: 30px;
  font-weight: 400
}
.botao input {
  background: #3897F0;
  border-radius: 4px;
  color: #fff;
  height: 35px;
  font-weight: 500;
  font-size: 16px;
  border: none;
  margin: 0 auto;
  width: 200px;
  max-width: 90%;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}
.rel {
  position: relative;
}
button {
    background: #f6f7f9;
    text-align: center;
    border: 1px solid #ced0d4;
    color: #4b4f56;
    padding-left: 10px;
    padding-right: 10px;
    height: 25px;
    font-weight: 900;
    border-radius: 2px;
    cursor: pointer;
}
button:hover {
    background: #E9EBEE
}
.salvar {
  z-index: 99;
  position: fixed;
  background: rgba(255, 255, 255, 0));
  bottom: 0px;
  width: 100%;
  text-align: right;
}
.salvar ul {
  list-style: none;
  float: left;
  margin-left: 10px;
}
.salvar ul li {
  display: inline-block;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}
.btn-face {
  background: #2657EB;
  /*background: linear-gradient(to left, #de6161 , #2657eb);*/
  border: none;
  color: #fff;
  height: 30px;
  font-weight: 900;
  width: 100%;
  margin-top: 10px;
  border:1px solid #ccc;
  transition: 1s;
  border-radius: 4px;
}
.btn-insta {
  background: #2657EB;
  border: none;
  color: #fff;
  height: 30px;
  font-weight: 900;
  width: 100%;
  margin-top: 10px;
  border:1px solid #ccc;
  transition: 1s;
  border-radius: 4px;
}
.btn-face:hover,
.btn-insta:hover {
  background: #815CA6
}
.s {
  height: 50px;
}
.criarr {
  background: #36a420;
  /*background: linear-gradient(to left, #de6161 , #2657eb);*/
  border: none;
  color: #fff;
  height: 30px;
  font-weight: 900;
  width: 100%;
  margin-top: 10px;
}
.criar {
    background: #36a420;
    /*background: linear-gradient(to left, #de6161 , #2657eb);*/
    border: none;
    color: #fff;
    height: 40px;
    font-weight: 900;
    width: 200px;
    max-width: 90%;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    transition: 1s;
    /*animation: cria 1s linear 0s infinite alternate;*/
}
.relaviso {
  width: 100%;
  height: 40px;
  position: relative;
}

.fixaviso {
  width: 100%;
  position: fixed;
  height: 40px;
  z-index: 99;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}
.avi {
  font-family: 'Open Sans', sans-serif;
  background: #de6161; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(to left, #de6161 , #2657eb); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to left, #de6161 , #2657eb); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to left, #de6161 , #2657eb); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left, #de6161 , #2657eb);
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
  color: #fff;
  font-size: 12px;
  font-weight: 900;
  margin: 0 auto;
}

.ll {
  width: 90%;
}
.lr {
  width: 10%;
}
.alertf {
  background: transparent;
  border:none;
  opacity: 0.6
}
.alertf:hover {
  background: transparent;
  border:none;
  opacity: 1
}
.fix {
    width: 90%;
    margin: 0 auto;
}
