.relaviso {
    width: 100%;
    height: 40px;
    position: relative;
}
.fixaviso {
    width: 100%;
    position: fixed;
    height: 40px;
    z-index: 99;
}
.avi {
    background: linear-gradient(to left, #de6161, #2657eb);
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
    color: #fff;
    font-size: 12px;
    font-weight: 900;
}
.mmmenu {
    background: #fff;
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
    font-size: 12px;
    font-weight: 900;
    border-bottom: 1px solid #ccc
}
.mmcs {
    display: flex;
    align-items: center;
}
.mmc {
    flex-grow: 1;
    margin-left: 10px;
}
.mmc a {
    color: #292929!important;
    font-size: 14px;
}
.menu-new {
    width: 90%;
    display: flex;
}
.menu-logo-new {
    flex: 1
}
.menu-classes {} .ll {
    flex: 1
}
.alertf {
    background: transparent;
    border: none;
    opacity: 0.6
}
.alertf:hover {
    background: transparent;
    border: none;
    opacity: 1
}
.salvar {
    z-index: 99;
    position: fixed;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    bottom: 0px;
    width: 100%;
    text-align: right;
    display: flex;
}
.s {
    height: 40px;
}
.ffg {
    flex: 1;
    float: right;
}
.ff {
    width: 100%;
    display: flex;
}
.rapa {
    width: 380px;
    -ms-zoom: 0.25;
    -moz-transform: scale(0.25);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.25);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.25);
    -webkit-transform-origin: 0 0;
    margin: 0 auto;
}
.ff img {} .criar {
    background: #36a420;
    /*background: linear-gradient(to left, #de6161 , #2657eb);*/
    border: none;
    color: #fff;
    height: 30px;
    font-weight: 900;
    font-size: 12px;
    max-width: 90%;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 1px;
    transition: 1s;
    /*animation: cria 1s linear 0s infinite alternate;*/
}
